<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.github.ywchang"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=1"/>
        <listEntry value="artifactId=1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Gamers_gaming_data_CRUD"/>
        <listEntry value="outputDirectory=E:\JAVA_Projects\JDBC_To_Connect_SSMS_with_Eclipse\CRUD_OPERATIONS_with_JDBC"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\HP\AppData\Local\Temp\m2e-archetypeGenerator18398158536571886489"/>
</launchConfiguration>
